<h1>Bird Sounds Around the Earth</h1>
<div class="mx-3">
    <form method="post" action="/api">
        <div>enter a name of a country.</div>
        country: <input type="text" name="country" />
        <br />
        <input type="submit" />
    </form>
</div>
