<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="./stylesheets/style.css" />
        <script></script>
    </head>
    <body>
        <div id="titleAndFollow">
            <h4><%= title %></h4>
        </div>
        <div id="newPostContainer">
            <div id="newPostWindow">
                <form method="post" action="/newPost">
                    <div class="info">
                        project title: <input type="text" name="title" />
                    </div>
                    <div class="info">
                        image: <input type="text" name="image" />
                    </div>
                    <div class="info">
                        description: <input type="text" name="description" />
                    </div>
                    <div class="info">
                        project link: <input type="text" name="link" />
                    </div>
                    <div id="collabContainer">
                        add collaborators:
                        <div id="collabSearch">
                            <input type="text" name="collaborators" />
                            <button type="button" style="margin-left: 5px">
                                find
                            </button>
                            <div id="addedCollab">cat x</div>
                            <div id="addedCollab">minsung x</div>
                            <div id="addedCollab">santa x</div>
                        </div>
                        <div id="find">
                            <div id="foundUserContainer">
                                <div id="foundUser">
                                    cat <button type="button">add</button>
                                </div>
                                <div id="foundUser">
                                    cat <button type="button">add</button>
                                </div>
                                <div id="foundUser">
                                    cat <button type="button">add</button>
                                </div>
                                <div id="foundUser">
                                    cat <button type="button">add</button>
                                </div>
                                <div id="foundUser">
                                    cat <button type="button">add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        privacy options:
                        <select name="privacy">
                            <option value="public">public</option>
                            <option value="private">private</option>
                        </select>
                    </div>
                    <input type="submit" style="margin: 15px" />
                </form>
            </div>
        </div>
    </body>
</html>
