<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="./stylesheets/style.css" />
        <script></script>
    </head>
    <body>
        <div id="titleAndFollow">
            <h4><%= title %></h4>
        </div>
        <div id="newPostContainer">
            <div id="newPostWindow">
                <div>profile picture</div>
                <div>description</div>
                <div>notification settings</div>
                <div>change username</div>
                <div>change password</div>
                <div>blocked users</div>
            </div>
        </div>
    </body>
</html>
