body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(238, 238, 238);
}

a {
  color: #00B7FF;
}

#feedNavigate {
  cursor: pointer;
  user-select: none;
}

.postTitle {
  font-size: 30px;
  margin: 5px;
}

.postContainer {
  background-color: rgb(247, 247, 247);
  padding: 5px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
  margin-bottom: 30px;
}

.postInfo {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.date {
  color: gray;
}

.desInfo {
  background-color: rgb(234, 234, 234);
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 85%;
  bottom: 0px;
  overflow: auto;
}

.postDes {
  position: relative;
  margin-left: 5px;
  width: 100%;
}

.relevanceInfo {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  align-content: center;
}

.likeContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  font-size: 12px;
}


.popularLabel {
  background-color: rgb(230, 211, 248);
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
  cursor: pointer;
}

.tagLabel {
  background-color: rgb(219, 248, 211);
  padding-left: 10px;
  padding-right: 10px;
}

.following {
  background-color: rgb(248, 233, 211);
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
  cursor: pointer;
}

.privacy {
  background-color: rgb(246, 211, 248);
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
}

#homeFeedContainer {
  width: 700px;
  margin-top: 20px;
}

.postImgDes {
  display: flex;
  flex-direction: row;
}

.interactiveBtns {
  display: flex;
  flex-direction: row;
  /* margin-top: 5px; */
  font-size: 12px;
  justify-content: flex-end;
}

.likeBtn {
  margin-right: 5px;
  border-radius: 5px;
  padding: 3px;
}

.likeBtn:hover {
  background-color: rgb(211, 248, 243);
  cursor: pointer;
  user-select: none;
}

.repostBtn {
  margin-right: 5px;
  border-radius: 5px;
  padding: 3px;
}

.repostBtn:hover {
  background-color: rgb(211, 227, 248);
  cursor: pointer;
  user-select: none;
}

.getLinkBtn {
  margin-right: 5px;
  border-radius: 5px;
  padding: 3px;
}

.getLinkBtn:hover {
  background-color: rgb(248, 211, 211);
  cursor: pointer;
  user-select: none;
}

.comment {
  flex: 1;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.commentBtn {
  border-radius: 5px;
  padding: 3px;
  user-select: none;
}

.commentBtn:hover {
  background-color: rgb(248, 211, 231);
  cursor: pointer;
  user-select: none;
}

.line {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#makeCommentContainer {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 60px;
}

.commentText {
  resize: none;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid rgb(183, 220, 123);
  width: 100%;
  height: 70px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  outline: none;
}

.commentSection {
  margin-top: 5px;
  font-size: 12px;
}

.commentContent {
  margin-left: 15px;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.userComment {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  padding: 10px;
  width: auto;
}

.commentUsername {
  color: gray;
}

.commentOverview {
}

.commentUserDate {
  display: flex;
  flex-direction: row;
  font-size: 10px;
}

.commentActions {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  color: gray;
}

#newPostWindow {
  width: 800px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  padding: 10px;
}

#newPostContainer {
  display: flex;
  justify-content: center;
}

.info {
  margin: 15px;
  height: 50px;
}

#profileFeedContainer {
  width: 700px;
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

#profile {
  display: flex;
  justify-content: space-around;
}

#posts {
  display: flex;
  justify-content: center;
}

#followingsContainer {
  width: 200px;
  height: 50px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
}

#following {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#followers {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#titleAndFollow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 50px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
  padding-left: 10px;
}

#profileTitleAndFollow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  height: 50px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
}

#profileTitle {
  margin-left: 10px;
  color: purple;
}

#profileInfo {
  background-color: rgb(247, 247, 247);
  margin-top: 20px;
  height: 300px;
  width: 500px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
  padding: 5px;
}

.navBarFixed {
  position: fixed;
  z-index: 1;
  top: 0px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
  width: 94.7%;
}

#notificationInfo {
  background-color: rgb(247, 247, 247);
  margin-top: 20px;
  height: 400px;
  width: 500px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
  padding: 5px;
}

#selectNotificationType {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#notificationContainer {
  margin-top: 5px;
  height: 350px;
  overflow: auto;
  background-color: rgb(215, 215, 215);
  border: 1px solid rgb(118, 118, 118);
}

/* #notificationContainer::-webkit-scrollbar {
  display: none;
} */

.commentNotification {
  width: 100%;
  height: 80px;
  margin-bottom: 5px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(247, 247, 247);
}

#userProfile {
  font-size: 20px;
}

#profilePic {
  border-radius: 40px;
  margin-right: 15px;
}

#profilePicName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#totalPosts {
  margin-left: 10px;
}

#profileDescription {
  background-color: rgb(234, 234, 234);
  margin-top: 5px;
  overflow: auto;
  height: 195px;
  padding: 5px;
}

.postEdit {
  border-radius: 5px;
}

.postEdit:hover {
  background-color: rgb(211, 244, 248);
  cursor: pointer;
  user-select: none;
}

#settingsBtn {
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

#settingsBtn:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  user-select: none;
}

#postEditorShade {
  background-color: rgba(202, 202, 202, 0.449);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  display: none;
}

#postEditorContainer {
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(177, 177, 177);
  width: 500px;
  height: 500px;
  margin-top: 80px;
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
}

#editorExit {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding: 0px 0;
}

#exitBtn {
  width: 20px;
  font-size: 18px;
}

#exitBtn:hover {
  cursor: pointer;
}

#editorForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-end;
}

#editTitle {
  font-size: 30px;
  height: 45px;
  width: 100%;
}

#editImage {
  width: 100%;
  height: 24px;
}

#editDes {
  width: 100%;
  height: 100px
}

#editLink {
  width: 100%;
  height: 24px;
}

#editCollab {
  width: 100%;
  height: 24px;
}

#editPrivacy {
  width: 70px;
}

#editSave {
  width: 50px;
}

.editText {
  resize: none;
  outline: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

#smallerInputContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#settingDescription {
  width: 80%;
  height: 100px;
  resize: none;
  outline: none;
  padding: 5px;
}

#notificationSettings {
  margin-left: 10px;
  margin-bottom: 10px;
}

.settingsChecklist {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
   
}

.notificationLabels {
  margin-left: 5px;
}

#searchContainer {

}

#category {
  display: flex;
  flex-direction: row;
}

.filter {
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 25px;
  margin-bottom: 5px;
}

.filter:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

#searchPosts {
  margin-top: 10px;
  flex: 4;
}

#searchContent {
  display: flex;
  flex-direction: row;
}

#recommendedTags {
  margin-top: 10px;
  margin-left: 20px;
  background-color: rgb(247, 247, 247);
  padding: 5px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
  height: 400px;
}

#recCreators {
  margin-top: 15px;
  margin-left: 20px;
  background-color: rgb(247, 247, 247);
  padding: 5px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
  height: 200px;
}

#recTagContainer {
  margin-left: 10px;
  margin-right: 10px;
  overflow: scroll;
  height: 360px;
  border-radius: 5px;
  padding: 5px;
}

#recCreatorContainer {
  margin-left: 10px;
  margin-right: 10px;
  overflow: scroll;
  height: 160px;
  border-radius: 5px;
  padding: 5px;
}

.recTags {
}

#rec {
  display: flex;
  flex-direction: column;
  flex: 1.2;
}

#aboutInfo {
  margin-top: 15px;
  margin-left: 20px;
  background-color: rgb(247, 247, 247);
  padding: 15px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
  height: 200px;
}